<header>
  <img id="burgerimg" src="/assets/img/burger-transparent.png" alt="burger">
  <h1>burgers!</h1>
</header>

<div class="container spartan">
  <div class="row">
    <div class="col-6">
      <h4>burgers to eat</h4>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>

    </div>
    <div class="col-6">
      <h4>burgers that have been eaten</h4>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>

    </div>
  </div>

  <div class="row" id="addBurgerRow">
    <div class="col-6 center">
      <h4>Add a burger?</h4>
      <form class="create-form">

        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="name">
        </div>
    </div>
      <div class="col-6">
        <div class="form-group">
          <label for="devoured">Eaten?</label><br>
          <input type="radio" name="devoured" value="1" checked> ate it already!<br>
          <input type="radio" name="devoured" value="0"> want to eat it...
        </div>
        <button type="submit">Add burger</button>
      </form>
      </div>
  </div>
</div>